<!DOCTYPE html>
<html lang="{{ .Params.language | default .Language.Lang }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
    {{- block "head" . }}{{ end }}
</head>

<body style="background-image: url('img/bg.png'); background-attachment: fixed; background-size: 100% 100%; background-repeat: no-repeat; font-family: 'Hey Gorgeous'" class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list-page" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end }} type-{{ .Type }} kind-{{ .Kind }} layout-{{ .Layout -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main {{- if (eq .Kind `page`) -}}{{- print " post" -}}{{- end -}}">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . -}}
    {{- block "body_end" . }}{{ end }}
</body>

</html>
